@import "./general.css";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  padding: 100px 0;
  text-align: center;
  gap: 2rem;
}

.container h1 {
  font-size: 2rem;
}

.container h1 strong {
  display: block;
  text-transform: uppercase;
  font-size: 4rem;
}

.container #form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  font-family: "Rubik";
}

.container #form .checkbox {
  display: flex;
  flex-wrap: wrap;
}

.container #form .checkbox .checkbox__item {
  flex-basis: 50%;
  text-align: left;
  direction: rtl;
}

.container #form .checkbox .checkbox__item label {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}

.container #form .checkbox .checkbox__item label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container #form .checkbox .checkbox__item label .checkmark {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--light);
}

.container #form .checkbox .checkbox__item label:hover input ~ .checkmark {
  background-color: var(--secondary);
}

.container #form .checkbox .checkbox__item label input:checked ~ .checkmark {
  background-color: var(--tertiary);
}

.container #form .checkbox .checkbox__item label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container
  #form
  .checkbox
  .checkbox__item
  label
  input:checked
  ~ .checkmark:after {
  display: block;
}

.container #form .checkbox .checkbox__item label .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--light);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.container #form .checkbox .checkbox__item .add__tag {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.container #form .checkbox .checkbox__item .add__tag button {
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--tertiary);
  color: var(--light);
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.container #form input#title,
.container #form textarea {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.1rem;
  font-family: inherit;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.container #form textarea {
  min-height: 200px;
}

.container #form .buttons button {
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: transparent;
  border: 2px solid var(--dark);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.container #form .buttons button.btn__add {
  background-color: var(--tertiary);
  color: var(--light);
  border-color: var(--tertiary);
  font-weight: 700;
}

.container #form .buttons button.btn__add:hover {
  background-color: var(--light);
  color: var(--tertiary);
}
