@import "./general.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 3rem 3rem;
}

.container .body__bg {
  position: absolute;
  top: -30%;
  left: 10%;
  z-index: -99;
}

.container h1 {
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 1.15;
  margin-bottom: 3rem;
}

.container h1 strong {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(#283c86, #45a247);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container button {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--tertiary);
  color: var(--light);
  border: 3px solid var(--tertiary);
  border-radius: 4rem;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

.container button a {
  display: inline-block;
  width: 100%;
  padding: 0.8rem 0;
}

.container button:hover {
  background-color: transparent;
  color: var(--tertiary);
}
